""" example config file 

uses s3 (Tested with minio) and a couple of buckets for storage

"""

from dewar.frontend import frontend
from dewar.metadata import MetadataStore
from dewar.storage.s3 import Storage


AWS_SECRET_KEY_ID = "1234"
AWS_SECRET_ACCESS_KEY = "aaasdfasdfasdfadsf"

buckets = {
    'storage' : 'dewar',
    'incoming-knowngood' : 'dewar-incoming-knowngood',
    'incoming-other' : 'dewar-incoming-other',
}

s3_endpoint = 'http://minio.example.com:9001'


storage = Storage(bucket=buckets['storage'],
                         endpoint_url=s3_endpoint,
                         aws_access_key_id=AWS_SECRET_KEY_ID,
                         aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
                         metadatastore=MetadataStore,
                         )

incoming_knowngood = Storage(bucket=buckets['incoming-knowngood'],
                         endpoint_url=s3_endpoint,
                         aws_access_key_id=AWS_SECRET_KEY_ID,
                         aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
                         metadatastore=MetadataStore,
                         )

incoming_other = Storage(bucket=buckets['incoming-other'],
                         endpoint_url=s3_endpoint,
                         aws_access_key_id=AWS_SECRET_KEY_ID,
                         aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
                         metadatastore=MetadataStore,
                         )
